.menu_sidebar {
    
    @apply my-8;

    >h3 {
        @apply text-gray-600 mb-6 text-sm;
        font-weight: 500
    }
    >ul {

        >li {
            @apply mb-8;

            &:last-child {
                @apply mb-0
            }

            >a {
                @apply flex items-center font-medium relative;
                font-size: .85rem;
                @screen sm {
                    @apply text-sm;
                }

                &.active {
                    @apply text-white;
                    >span {
                        @apply bg-primary text-white;
                    }
                    >p {
                        @apply text-white
                    }
                }

                >span {
                    @apply mr-4 rounded-xl p-2 bg-gray-800 text-gray-500;
                     

                    &.img {
                        @apply flex justify-center items-center;
                        border: 1px solid '#363440';

                    }
                    >img {
                        @apply w-8 h-8;
                        @screen sm {
                            @apply w-10 h-10;
                        }
                    }
                }
                >p {
                    @apply text-gray-600;
                }

                &::before {
                    @apply h-full w-1 absolute top-0  -left-5 transition-opacity opacity-0  bg-primary duration-200 ease-in-out;
                    content: '';
                }

                @media (hover: hover) {
                    &:hover:before {
                        @apply opacity-70;
                    }

                }

            }
        }
    }


}