.search_wrapper {

    @apply relative w-full;

    >label > form {
        @apply relative;
        >div {           
            >input {
                padding-right: 3rem;
            }
        }

        >svg {
            @apply absolute right-4 text-lg text-gray-600;
            top: calc(50% - .7rem)
            
        }
    }

    @screen md {
        @apply relative w-7/12;   
    
        
    
        .search_results {
            @apply absolute mt-2 bg-gray-900 rounded-md flex flex-wrap gap-5 left-0 top-full z-40 w-full p-5 animate-fadeIn duration-75;
         
        
            >div {
                @apply mb-1;            
                width: 25%;
            }
           
            
            
        }
        .search_no_vids {
            @apply flex justify-center text-gray-300;
            font-weight: 500;
        }

    }
}