
.wrapper {    

    @apply mt-2;
   
    >h1 {
        @apply text-2xl text-white;
        font-weight: 600;
    }
    .video_wrapper {
        @apply flex gap-8;

        .top_video {
            width: 100%;
        }

        @screen lg {
            
            .top_video {
                width: 70%;
            }
            
            .random_video {
                @apply w-1/3;
            }

        }
    }
}