

form {

    @apply p-2;

    .form_wrapper {
        @apply flex flex-wrap flex-grow;    
    
    
        .fields_wrapper {
            @apply  pt-3 w-full;
            @screen md {
                @apply w-8/12;
            }

            >button {
                @apply flex justify-around items-center gap-1;
                @apply  pt-3 w-full;
                font-size: .85rem;

                @media (hover: hover) {
                    &:hover {
                        @apply bg-opacity-100
                    }
                }

                @screen sm {
                    @apply text-sm;
                }
            }
        }
    
        .upload_field {
            @apply mt-3;
        }
    
        @screen md {
            @apply flex-nowrap
        }
        .panel_title {
            @apply text-center text-primary text-opacity-70 my-2;
            font-weight: 500;
            font-size: 1.2rem;
        }

        .panel_buttons {
            @apply flex justify-around items-center;

            >button {
                @apply bg-purple p-2 rounded-lg bg-opacity-70 text-white transition-colors;
                font-size: .85rem;

                @media (hover: hover) {
                    &:hover {
                        @apply bg-opacity-100
                    }
                }

                @screen sm {
                    @apply text-sm;
                }
            }
        }

        .wrapper {
            @apply flex justify-between items-center gap-1;

            .progress {
                @apply text-gray-500 text-sm flex items-center;

                >svg {
                    @apply text-green-500 mx-2;
                    font-size: 1.2rem;
                }
            }
        }
    
    }

}
